.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/** Utility class for text truncation with ellipsis */
.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hidden {
    display: none;
}