.grid{
    display: grid;
    padding: var(--spacing-xs);
}

/** Tablet (>= 600px) */
@media (min-width: 600px) {
    .grid {
        padding: var(--spacing-sm);
    }
}

/** Desktop (>= 900px) */
@media (min-width: 900px) {
    .grid {
        padding: var(--spacing-md);
    }
}
/** Large Desktop (>= 1200px) */
@media (min-width: 1200px) {
    .grid {
        padding: var(--spacing-lg);
    }
}